attrs==21.4.0
awscli==1.22.30
boto3==1.20.30
botocore==1.23.30
colorama==0.4.3
docutils==0.15.2
flake8==4.0.1
iniconfig==1.1.1
jmespath==0.10.0
lxml==4.7.1
mccabe==0.6.1
mysql-connector-python==8.0.27
packaging==21.3
pluggy==1.0.0
protobuf==3.19.1
py==1.11.0
pyasn1==0.4.8
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.6
pytest==6.2.5
python-dateutil==2.8.2
PyYAML==5.4.1
rsa==4.7.2
s3transfer==0.5.0
six==1.16.0
toml==0.10.2
urllib3==1.26.8
